.side-bar
  .side-bar_user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        %ul.top-items__icons__menu
          %li.top-items__icons__menu__new-group
            %a{href: '#'}
              = icon('fas', 'edit')

          %li.top-items__icons__menu__edit-user
            %a{href: '#'}
              = icon('fas', 'cog')
  .groups
    .group
      %p.group-name
        techcamp
      %p.group-latest-message
        まだメッセージがありません

    .group
      %p.group-name
        techcamp
      %p.group-latest-message
        まだメッセージがありません